*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 600px;
}


canvas{
    border: 1px solid black;
}

.draw-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: #d0c9c9;
    padding: 2rem;
    min-height: 100%;
}

.draw-options > *{
    margin: .5rem 0;
}

.stroke-size-selectors{
    display: flex;
    align-items: center;
}

i.x1{
    font-size: .3rem;
}
i.x2{
    font-size: .6rem;
}
i.x3{
    font-size: .9rem;
}

.grid-color{
    display: grid;
    grid-gap: .1rem;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.grid-color #red {
    background-color: red;
}
.grid-color #orange {
    background-color: orange;
}
.grid-color #yellow {
    background-color: yellow;
}
.grid-color #green {
    background-color: green;
}
.grid-color #royalblue {
    background-color: royalblue;
}
.grid-color #darkblue {
    background-color: darkblue;
}
.grid-color #purple {
    background-color: purple;
}
.grid-color #magenta {
    background-color: magenta;
}
.grid-color #black {
    background-color: black;
}
.grid-color #grey {
    background-color: grey;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

button.selected-button{
    border: 2px solid black;
    box-shadow: inset 0 0 2px orange;
}

button:active{
    transform: translate(1px,1px);
}
